$main-black-color: #212121;
$main-white-color: #fff;
$footer-color: #f7f7f7;
$black-with-opacity: rgba(0,0,0,0.8);
$red-with-opacity: rgba(255,0,0,0.8);
$green-with-opacity: rgba(0,255,0,0.8);
$box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);