<div class="welcome-page">
  <h2>BEM-VINDO</h2>
  <div class="welcome-links">
    <%= link_to "Importar CNAB", new_import_transactions_path %>
    <%= link_to "Visualizar transações por lojas", stores_path %>
  </div>
</div>